# App
DATABASE_URL=postgres://postgres:postgres@localhost:5432/anki_miner

# Better Auth
BETTER_AUTH_SECRET=gere-um-segredo-com-pelo-menos-32-caracteres
BETTER_AUTH_URL=http://localhost:3000
AUTH_ALLOWED_EMAILS=primeiro@example.com,segundo@example.com
AUTH_TRUSTED_ORIGINS=http://localhost:1420,tauri://localhost

# Resend
RESEND_API_KEY=re_...
AUTH_EMAIL_FROM=Anki Miner <conta@seu-dominio.example>
